@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');


body{
    margin: 0px;
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
    background-color: hsl(180, 52%, 96%)
}

header{
    background-color: hsl(180, 29%, 50%);
    margin-bottom: 30px;
    height: 165px;
}

header img{
    width: 100%;
    height: 165px;
}

body div#main-background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body div#main-background #jobs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

body section#filter{
    width: 75%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: -70px auto 50px auto;
    box-shadow: 1px 2px 10px hsl(180, 46%, 70%);
}

#filter div{
    display: grid;
    grid-template-columns: 80% 20%;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

#filter div h2{
    font-size: 18px;
    color: hsl(180, 23%, 70%);
    cursor: pointer;
}

#filter ul{
    width: 100%;
    margin: 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0px;
    color: hsl(180, 8%, 52%);
}

#filter ul li{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

#filter ul li p{
    margin: 5px 0px;
    background-color: hsl(180, 52%, 96%); 
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    color: hsl(180, 29%, 50%);
    font-weight: 700;
}

#filter ul li img{
    margin-right: 10px;
    background-color: hsl(180, 29%, 50%);
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    transition: 0.3s;
}

#filter ul li img:hover{
    background-color: hsl(180, 14%, 20%);
    cursor: pointer;
}


/* <----- Job Box ----->*/

.job-listing{
    position: relative;
    width: 75%;
    margin: 20px auto;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 1px 2px 10px hsl(180, 46%, 70%);
}

.featured{
    border-left: 5px solid hsl(180, 29%, 50%);
}

.job-listing img{
    position: absolute;
    top: -45px;
    left: 5px;
    transform: scale(0.6);
}


/* <----- First Row Details ----->*/


.job-listing .first-row{
    margin-top: 5px;
    widows: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 54px;
}

.job-listing .first-row h2{
    margin-right: 15px;
    color: hsl(180, 29%, 50%);
    font-weight: 700;
    font-size: 15px;
}

.job-listing .first-row ul{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    padding-left: 0px;
    list-style: none;
}


.job-listing .first-row ul li{
    border-radius: 15px;
    padding: 5px 10px;
}

.job-listing .first-row ul .effect{
    margin-right: 5px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.job-listing .first-row ul .ef-new{
    background-color: hsl(180, 29%, 50%);
}

.job-listing .first-row ul .ef-featured{
    background-color: hsl(180, 14%, 20%);
}

/* <----- Second Row ----->*/

.job-listing h2{
    color: black;
    font-weight: 700;
    margin: 6px 0px;
    font-size: 15px;
    transition: 0.2s;
}

.job-listing h2:hover{
    color: hsl(180, 29%, 50%);
    cursor: pointer;
}

/* <----- Third Row ----->*/

.job-listing ul.employee-description{
    padding-left: 0px;
    color: hsl(180, 8%, 52%);
    padding-bottom: 10px;
    border-bottom: 1px solid hsl(180, 8%, 52%);
}

.job-listing ul.employee-description li{
    display: inline;
}

.job-listing ul.employee-description li + li::before {
    content: " · ";
}


/* <----- Roles and Languages ----->*/

.job-listing ul.roles-languages{
    margin: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.job-listing ul.roles-languages li{
    margin: 5px 15px 5px 0px;
    padding: 5px 12px 5px 12px;
    background-color: hsl(180, 52%, 96%);
    border-radius: 5px;
    color: hsl(180, 29%, 50%);
    font-weight: 700;
    transition: 0.2s;
}

.job-listing ul.roles-languages li:hover{
    background-color: hsl(180, 29%, 50%);
    cursor: pointer;
    color: white;
}

@media only screen and (min-width: 1000px){
    #filter div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .job-listing{
        display: grid;
        grid-template-areas: 
        "icon name langugaes"
        "icon role languages"
        "icon date languages";
        grid-template-columns: 140px;
        align-items: center;
        padding: 5px 5px 20px 5px;
    }

    .job-listing img{
        position: relative;
        left: 20%;
        top: 10%;
        transform: scale(1);
        grid-area: icon;
    }

    .job-listing .first-row{
        grid-area: name;
        margin: 0px;
    }

    .job-listing .first-row h2{
        margin: 0px 15px 0px 0px;
    }

    .job-listing .first-row ul{
        margin: 0px;
    }

    .job-listing h2{
        grid-area: role;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .job-listing ul.employee-description{
        grid-area: date;
        border-bottom: none;
        margin: 0px;
        padding: 0px;
    }

    .job-listing ul.roles-languages{
        grid-area: languages;
        margin-bottom: 5%;
        justify-content: end;
    }
}