@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

/* Dark Mode Theme (Default) */
:root, [data-theme='default']{
    --body-bg-color: hsl(207, 26%, 17%);
    --element-bg-color: hsl(209, 23%, 22%);
    --text-color: hsl(0, 0%, 100%);  
    --shadow-color: black;
    --svg-invert: 1;
    --hover-color: hsl(172, 28%, 54%);
    --active-color: rgb(48, 142, 197);
}

/* Light Mode Theme */
:root, [data-theme='light']{
    --body-bg-color: hsl(0, 0%, 98%);
    --element-bg-color: hsl(0, 0%, 100%);
    --text-color: hsl(200, 15%, 8%);
    --shadow-color: lightgray;
    --svg-invert: 0;
    --hover-color: rgb(209, 162, 162);
    --active-color: red;
}


body {
    padding: 0px;
    margin: 0px auto;
    background-color: var(--body-bg-color);
    color: var(--text-color);
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
    transition: color .45s ease-in;
}
  
.light-mode {
    background-color: var(--element-bg-color);
    color: black;
}

section#main{
    max-width: 1280px;
    margin: auto;
}

header{
    display: flex;
    background-color: var(--element-bg-color);
    box-shadow: 0px 1px 5px var(--shadow-color);
    height: 80px;
    align-items: center;
}

header div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
    padding: 0px 8%;
}

header div h1{
    font-size: 22px;
}

header div div{
    padding: 5px;
}

header div:hover{
    cursor: pointer;
}

header div img{
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: sub;
    margin-right: 5px;
    filter: invert(var(--svg-invert));
}

header div div{
    display: block;
    width: auto;
}

section#filters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3% 0px;
    justify-content: space-between;
    align-items: center;
}

section#filters div.input-container{
    background-color: var(--element-bg-color);
    width: 410px;
    text-align: left;
    padding: 15px 35px;
    border-radius: 5px;
    border: 0px;
    box-shadow: 0px 1px 2px var(--shadow-color);
}

section#filters div.input-container img{
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 5px;
    filter: invert(var(--svg-invert));
}

section#filters div.input-container input{
    background-color: inherit;
    color: var(--text-color);
    border: 0px;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
    resize: none;
    outline: none;
    font-weight: 400;
    width: 85%;
    transition: color .45s ease-in;
}


section#filters div.input-container input::placeholder{
    color: var(--text-color);
    opacity: 0.7;
    transition: color .45s ease-in;
}

section#filters div{
    font-weight: 600;
}

section#filters div button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    padding: 16px 25px;
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--element-bg-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    font-weight: 400;
    box-shadow: 0px 1px 2px var(--shadow-color);
    width: 200px;
    text-align: left;
    transition: color .45s ease-in;
}

section#filters div button:hover{
    cursor: pointer;
}

section#filters div button img{
    width: 20px;
    height: 20px;
    vertical-align: sub;
    filter: invert(var(--svg-invert));
}


section#filters div.dropdown{
    position: relative;
    display: inline-block;
}

section#filters div.dropdown div{
    display: none;
    position: absolute;
    z-index: 10;
}

section#filters div.dropdown:hover div{
    display: block;
}

section#filters div.dropdown li:hover{
    cursor: pointer;
    color: var(--hover-color);
}

section#filters div.dropdown li.active{
    color: var(--active-color);
}

#filters div ul.dropdown-content{
    background-color: var(--element-bg-color);
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none;
    width: 140px;
    padding: 10px 30px;
    margin-top: 10px;
    color: var(--text-color);
    box-shadow: 0px 1px 1px var(--shadow-color);
}

#filters div ul.dropdown-content li{
    margin: 8px 0px;
}

section#countries-container{
    padding: 1% 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
}

.country{
    position: relative;
    background-color: var(--element-bg-color);
    border-radius: 5px;
    box-shadow: 1px 1px 2px var(--shadow-color);
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
    width: 255px;
    max-height: 340px;
    cursor: pointer;
}

.country img{
    /* width: 100%;
    max-height: 175px; */

    /* object-fit: fill; */

    /* position: absolute;
    width: 100%;
    padding-top: 56.25%;
    top: -200px; */
    object-fit: cover;
    width: 100%;
    height: 157px;
    border-radius: 5px 5px 0px 0px;
}

.country div{
    padding: 10px 25px;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--text-color);
}

.country div h1{
    margin: 10px 0px 0px 0px;
    font-weight: 800;
    font-size: 18px;
}

.country div ul{
    list-style: none;
    padding-left: 0px;
    margin: 15px 0px;
}


.country div ul li h2{
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    margin: 5px 0px;
}

.country div ul li p{
    display: inline-block;
    margin: 0px 0px 0px 5px;
}


/* For Details html Page specific */

#main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



#main-content .details-button{
    padding: 4px 20px;
    margin: 0px 5px;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--text-color);
    background-color: var(--element-bg-color);
    box-shadow: 0px 0px 3px var(--shadow-color);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition: color .45s ease-in;
}

#main-content .back-button{
    align-self: flex-start;
    margin: 5% 10%;
    padding: 8px 20px;
    font-weight: 400;
    border: none;
}

#main-content #country-container{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}

#main-content button img{
    width: 18px;
    height: 18px;
    vertical-align: sub;
    margin: 0px 5px -1px 0px;
    filter: invert(var(--svg-invert));
}

#main-content #flag-container img{
    width: 70%;
    height: 70%;
    margin: auto;
}

#main-content h1{
    font-size: 35px;
}



#main-content #country-container div{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    flex-wrap: wrap;
}

#main-content div ul{
    list-style: none;
    font-size: 14px;
    padding-left: 0px;
    font-weight: 400;
}

#main-content div#lists-container{
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

div#lists-container ul li{
    margin: 10px 50px 10px 0px
}

#main-content h2{
    font-weight: 600;
    font-size: 15px;
    display: inline-block;
    margin: 0px;
}

#main-content li p{
    display: inline-block;
    font-size: 15px;
    margin: 0px;
}


#main-content section#borders{
    display: grid;
    grid-template-columns: 20% 80%;
}

#main-content #borders-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: 10px;
    grid-auto-rows: 30px;
    margin: 0px;
}


#main-content #borders-container li:hover{
    background-color: var(--hover-color)
}


@media only screen and (max-width: 1280px){

    section#countries-container{
        justify-content: center;
    }

    section#countries-container .country{
        margin: 20px 20px;
    }

    section#filters div.input-container{
        margin: 0px 4%;
        width: 320px;
    }

    section#filters div.dropdown{
        margin: 0px 4%;
    }

}


@media only screen and (max-width: 920px){

    /* section#countries-container{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    } */

    header div{
        padding: 5%;
    }

    header div h1{
        font-size: 16px;
    }

    header div div{
        font-size: 14px;
    }

    section#filters{
        flex-direction: column;
        align-items: flex-start;
    }

    section#filters div.input-container{
        width: 85%;
        padding: 15px 4%;
        margin: auto auto;
    }

    section#filters div.dropdown{
        margin-top: 30px;
        align-self: flex-start;
        padding-left: 4%;
    }


    #main-content section#borders{
        flex-direction: column;
        display: flex;
    }


    #main-content #borders-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, 100px);
        gap: 5px;
        grid-auto-rows: 30px;
        margin: 10px 0px;
        align-items: center;
    }

    #main-content #borders-container li{
        font-size: 13px;
        padding: 2px 5px;
    }

        /* Details HTML */

        #main-content #country-container{
            margin-top: 20px;
            flex-direction: column;
        }
        
        #main-content #country-container{
            display: flex;
            flex-direction: column;
            width: 95%;
            margin: 20px auto;
        }
        
        #main-content #country-container img{
            object-fit: cover;
            width: 100%;
            height: 20%;
            margin: auto;
        }
        
        #main-content #country-container div#details-text-container{
            margin-left: 17px;
            align-self: flex-start;
        }
        
        #main-content div#lists-container div{
            flex-direction: column;
        }
        
        #main-content div#lists-container{
            flex-direction: column;
        }
    
}
